<div class="gradient-bg"></div>

<div class="landing-content">

    <span class="title-font-01">Welcome</span><br>
    <span class="title-font-02">to</span><br>
    <span class="title-font-03">Evan Flint's Capstone Project</span><br>
    <span class="title-font-02">for</span><br>
    <span class="title-font-04">Bloc</span><br>

</div>

<%= link_to "Learn About This Project", about_index_path, class: "landing-button centered" %>


<!-- <div class="landing-images">
  <%= image_tag "mango-01.jpg", class: 'landing-img-01' %>
  <%= image_tag "grapefruit-01.jpg", class: 'landing-img-02' %>
</div> -->
