<div class="gradient-bg"></div>

<div class="landing-header">
  Your Personal <br> Garden Control Center
</div>

<%= image_tag "mango-01.jpg", class: 'img-circle landing-img-01' %>
<%= image_tag "grapefruit-01.jpg", class: 'img-circle landing-img-02' %>
