<div class="cc-title">
  <h1>Control Center</h1>
  This is a demo page of the real control center, which only Evan Flnt can log into.
</div>

<!-- <div class="water-controls">
    <div class="manual-water">
      <span class="manual-water-description">Scheduled to water every (model ref) minutes.</span>
      <span class="manual-water-buttons">
        <button class="btn custom">Change</button>
        <button class="btn custom">Water Plants Manually</button></div>
      </span>


    <div class="dropdown">

      <button class="btn custom dropdown-toggle" type="button" data-toggle="dropdown">Displayed Chart <span class="carat"></span></button>
        <ul class="dropdown-menu">
          <li><%= link_to "Temperature", new_user_path %></li>
          <li>Soil Moisture</li>
          <li>Light</li>
          <li>Water Schedule</li>
        </ul>
    </div>

  <div class="calendar">
    <span class="calendar-text">Calendar</span>
  </div>
</div> -->



<div class="charts">
  <div class="data-chart">
      <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1knwBIpWr-BEDNehNErP9lATfaLTQLP0mkTDXMZyXv3I/pubchart?oid=1933634851&amp;format=interactive"></iframe>
  </div>
  <div class="centered-datapage">
    Currently, the system is only set up to display temperature data coming from
    inside Evan's house. The hardware is in place to connect to a soil moisture
    sensor and a solenoid valve which is programmed to water automatically for
    five minutes every hour. The only thing preventing me from hooking it up is
    the matter of waterproofing an electrical circuit that will be installed on
    my back porch where it is likely to get rained on occasionally. Until I have
    figured out how to solve that problem, this page will serve as a demonstration
    that the system works, but is incomplete.
  </div>
</div>
