<div class="cc-title">
  <h1>Control Center</h1>
  This is a demo page of the real control center, which only Evan Flnt can log into.
</div>

<div class="water-controls">
    <div class="manual-water">
      <span class="manual-water-description">Scheduled to water every (model ref) minutes.</span>
      <span class="manual-water-buttons">
        <button class="btn custom">Change</button>
        <button class="btn custom">Water Plants Manually</button></div>
      </span>


    <div class="dropdown">
      <button class="btn custom dropdown-toggle" type="button" data-toggle="dropdown">Displayed Chart <span class="carat"></span></button>
        <ul class="dropdown-menu">
          <li>Temperature</li>
          <li>Soil Moisture</li>
          <li>Light</li>
          <li>Water Schedule</li>
        </ul>
    </div>

  <div class="calendar">
    <span class="calendar-text">Calendar</span>
  </div>
</div>



<div class="charts">
  <div class="data-chart">
    <div class="graph-sub">
      <span class="graph-text">Graph Here</span>
    </div>
    <div class="graph-subtext">
      <small>Temperature Chart</small>
    </div>
  </div>

</div>
