<div id="tempdata">
  <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1SQGJ60F3YhEF4o05Ht9jsWr4DgF0hFVYhK3xeEoHtls/pubchart?oid=1340289642&amp;format=interactive"></iframe>
</div>
