<div class="video-div">
  <h2 class="video-div-text">Video Goes Here</h2>
</div>

<div class="content">
  <div class="about-description">
    <h1>About Agricola</h1>

    <br>

    <p>
      Agricola is a garden management application written in Ruby on Rails.
      Created to manage Evan Flint's garden outside his house in Hilton Head, SC,
      it runs from a Raspberry Pi hooked up to an Arduino. The Raspberry Pi
      manages the software and internet connection, and allows the system to
      be accessed remotely from anywhere in the world. The Arduino manages the
      hardware, including an irrigation controller and several sensors, which
      provide the data you can view on the data page.
    </p>
  </div>

  <div class="image-div">
    <%= image_tag ("mango-01.jpg"),  class: "about-img" %><br>
    <%= image_tag ("grapefruit-01.jpg"), class: "about-img" %><br>
    <%= image_tag ("onion-01.jpg"), class: "about-img" %><br>
  </div>


  <div class="technology-list-div">
  <h1>Technologies I used in this project</h1>

  <h3>Programming Languages</h3>
  <ul class="technology-list">
    <li>Ruby</li>
    <li>HTML5/CSS3</li>
    <li>JavaScript</li>
    <li>C for Arduino</li>
  </ul>

  <h3>Web Frameworks</h3>
  <ul class="technology-list">
    <li>Ruby on Rails</li>
    <li>Bootstrap</li>
  </ul>

  <h3>Image Editing Software</h3>
  <ul class="technology-list">
    <li>Darktable Raw Image Editor</li>
    <li>GIMP photo editor</li>
    <li>Inkscape SVG editor</li>
  </ul>


  <h3>Computer Hardware</h3>
  <ul class="technology-list">
    <li>Arduino</li>
    <li>Raspberry Pi</li>
  </ul>

  <h3>Computer Software</h3>
  <ul class="technology-list">
    <li>Zorin OS, based on Ubuntu 16.04</li>
    <li>Raspbian Linux</li>
    <li>Atom IDE</li>
    <li>Arduino IDE</li>
  </ul>

  <h3>Cloud Services</h3>
  <ul class="technology-list">
    <li>Google Fonts</li>
    <li>Google Sheets</li>
    <li>Google Fusion Tables</li>
    <li>IFTTT</li>
    <li>Heroku</li>
    <li>Git</li>
  </ul>

  </ul>

  <h3>Camera and Equipment</h3>
  <ul class="technology-list">
    <li>Sigma 70-300mm Telephoto Macro lens</li>
    <li>Pentax 18-55mm lens</li>
    <li>Pentax K7 Digital SLR Camera</li>
    <li>Tripod</li>
  </ul>

  <h3>Electronic Supplies</h3>
  <ul class="technology-list">
    <li>Solenoid Valve</li>
    <li>Temperature Sensors</li>
    <li>Soil Moisture Sensors</li>
    <li>Light Sensors</li>
    <li>Soldering Iron</li>
    <li>Reistors, transistors, and wires</li>
    <li>60 feet of cable connecting the inside computer to the outside technologies</li>
    <li>Silicone waterproofing</li>
  </ul>

  <h3>Gardening Supplies</h3>
  <ul class="technology-list">
    <li>Miracle Grow Potting Mix</li>
    <li>Miracle Grow Garden Soil</li>
    <li>Seeds from any source I can can find them</li>
    <li>Garden hose with holes punctured in it</li>
    <li>Brass hose connectors</li>
    <li>The beautiful climate of the South Carolina lowcountry</li>
  </ul>

  <ul class="technology-list">












    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>

  </ul>
</div>
</div>
