/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
  background-color: #719171;
}

.yield {
  clear: both;
}

.title {
  // font-family: 'Jim Nightshade', cursive;
  font-family: 'Ubuntu', sans-serif;
  font-size: 6em;
  float: left;
  margin-left: 50px;
  color: black;
  text-decoration: none;
}

.title:hover {
  color: black;
  text-decoration: none;
}

.landing-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 7em;
  position: absolute;
  left: 10%;
  bottom: 20%;
  text-align: left;
  z-index: 4;
}

.centered {
  text-align: center;
}

.display-table {
  margin: auto;
}

th {
  background: #719191;
  color: black;
  padding: 5px;
  font-size: 2em;
  text-align: center;
}

td {
  padding: 3px;
}

.btn.custom {
  color: white;
  background-color: #434f34;
  text-decoration: none;
  margin-right: 50px;
  margin-top: 50px;
}

.sign-in {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
}

.gradient-bg {
  background: linear-gradient(#719171, #434f34);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80%;
  width: 100%;
  z-index: -1;
}
