/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


body {
  background-color: #719171;
}

.yield {
  clear: both;
}

.title {
  // font-family: 'Jim Nightshade', cursive;
  font-family: 'Ubuntu', sans-serif;
  font-size: 6vw;
  float: left;
  margin-left: 50px;
  color: black;
  text-decoration: none;
}

.title:hover {
  color: black;
  text-decoration: none;
}

.landing-header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 7em;
  position: absolute;
  left: 10%;
  bottom: 20%;
  text-align: left;
  z-index: 4;
}

.centered {
  text-align: center;
  color: white;
}

.display-table {
  margin: auto;
}

th {
  background: #434f34;
  color: white;
  padding: 20px;
  font-size: 2em;
  text-align: center;
}

.th-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.th-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

td {
  padding: 3px;
}

.btn.custom {
  color: white;
  background-color: #434f34;
  text-decoration: none;
  margin-right: 50px;
  margin-top: 50px;
}

.sign-in {
  color: white;
  float: right;
  margin-top: 50px;
  margin-right: 50px;

}

.sign-in:hover {
  text-decoration: none;
  color: white;
}

.gradient-bg {
  background: linear-gradient(#719171, #434f34);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 80%;
  width: 100%;
  z-index: -1;
}

.after-gradient {
  background: #434f34;
  position: absolute;
  top: 100%;
  width: 100%;
}

.after-gradient-content {
  position: relative;
  top: 100px;
}

.content {
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;
  font-family: Ubuntu, sans-serif;
}

.footer {
  height: 50vh;
  width: 100%;
  background-color: #719171;
  color: white;
  position: absolute;
  bottom: 0px;
}

.form-custom-input {
  width: 20%;
  margin: auto;
}

.sign-in-inputs {
  position: relative;
  top: 50px;
}

.dropdown-menu{
  color: black;
  width: 20%;
}

.navbar{
  background-color: #719171;
}

.navbar-header:link{
  text-decoration: none;
  color: black;
}

.navbar-header:selection{
  color: black;
}
