// Place all the styles related to the plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-plants {
  width: 20%;
  position: relative;
  left: 0px;
}

.plant-pic {
  background-color: #e0e0e0;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
