<!DOCTYPE html>
<html>
  <head>
    <title>Agricola</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Jim+Nightshade" rel="stylesheet">

  </head>

  <body>
    <div class="centered">
      <h1 class="title">Agricola</h1>
        <%= yield %>
    </div>
  </body>
</html>
